@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.book {
  border: 1px solid #e8e8e8;
  margin: 1em 5rem;
  padding: 15px;
  background-color: white;
}

img {
  width: 4.25rem;
}

.book_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book_btns {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  color: #4386bf;
  font-size: 0.875rem;
}

.vl {
  border-left: 1px solid  #e8e8e8;
}

.books_updates {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress {
  display: flex;
  align-items: center;
  gap: 12px;
}

.vline {
  border-left: 1px solid #e8e8e8;
  height: 83px;
}

.loading {
  display: flex;
  justify-content: center;
}

.title {
  height: 1.813rem;
  font-family: 'RobotoSlab', sans-serif;
  margin: 5px 0;
  opacity: 0.5;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.categories {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.remove-btn {
  border: none;
  background: none;
  color: #4386bf;
  padding: 0;
}

.update-progress {
  margin-top: 20px;
  padding: 6px;
  width: 113%;
  font-size: x-small;
  color: white;
  background: #0290ff;
}

.pecent {
  font-size: x-large;
}

.complete {
  font-size: 0.875rem;
  color: #b6b5b6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  opacity: 0.8;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter {
  height: 1.313rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}
