nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  border-bottom: 1px solid lightgray;
  align-items: center;
  background-color: white;
}

.logo {
  font-size: 1.87rem;
  font-weight: 700;
  color: #0290ff;
}

ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
}

.link {
  font-family: monospace, 'sans-serif';
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: #787878;
}

.profile {
  width: 3rem;
}

.logo-navigation {
  display: flex;
  align-items: center;
  gap: 80px;
}
